*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.wrapper {
	display: block;
	width: 60%;
	height: 50vh;
	margin: 0 auto;

}
.animashka_1 {
	width: 100%;
	height: 50vh;
	display: flex;
	position: relative;
	

}
.main {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/lemon.jpg) no-repeat center;
	background-size: cover;
	z-index: 3;

}
.main-title {
	color: #fff;
	font-size: 52px;
	font-family: Arial;


}
.overplay {
	width: 2%;
	height: 100%;
	transition: 1.7s linear;
	position: relative;
	z-index: 4;
	background: url(../img/apple.jpg) no-repeat top center ;
	display: flex;
	top: 0;
	background-attachment: fixed;
}
.overplay:hover{
	transition: 0s linear;
	opacity: 0;
}
.animashka_2 {
	width: 100%;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;

}
.layer {
	position: relative;
	width: 400px;
	height: 535px;
	background-color: #AEAEAE;
	transform: scale(0.5) rotate(-30deg) skew(35deg);
}
.layer img {
	position: absolute;
	width: 100%;
	transition: 0.3s;
}
.layer:hover img:nth-child(4){
	transform: translate(250px, -250px);
	opacity: 1;
}
.layer:hover img:nth-child(3){
	transform: translate(200px, -200px);
	opacity: .8;
}
.layer:hover img:nth-child(2){
	transform: translate(150px, -150px);
	opacity: .6;
}
.layer:hover img:nth-child(1){
	transform: translate(100px, -100px);
	opacity: .4;
}




